{% extends "confs/base.html" %}
{% block content %}
      <div class="content=section">
          <form method="POST" >
              {% csrf_token %}
              <fieldset class="form-grup">
                  <legend class="border-bottom mb-4">Delete Post</legend>
                  <h2>Are you sure you want to delete the event post "{{object.title }}"? </h2>
              </fieldset>
              <div class="form group">
                  <button class="btn btn-outline-danger" type="submit">
                      Yes, Delete
                  </button>
                  <a class="btn btn-outline-secondary" href="{% url 'event-detail' object.id %}">
                      Yes, Delete
                  </a>
              </div>
          </form>
      </div>
{% endblock %}