{% extends "confs/base.html" %}
{% block content %}
{% load confs_tags %}
<article class="media content-section">
            <img class="rounded-circle article-img" src="{{ event.organizer.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ event.organizer }}</a>
            <div>
                {% if object.organizer == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-add-speaker' object.id %}">Add Speaker</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-add-sponsor' object.id %}">Add Sponsor</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-participants' object.id %}">See Participants</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
                {% else %}
                    {% if not participant %}
                        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'event-signup' object.id %}">Sign Up</a>
                    {% else %}
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ticket-cancel' participant.id %}">Cancel Ticket</a>
                    {% endif %}
                {% endif %}
            </div>
            </div>
            <h2><a class="article-title" href="{% url 'event-detail' object.id %}">{{ event.name }}</a></h2>
            <p class="article-content">{{ event.content }}</p>
              <p>
            {%  for perf in performances|event_filter:event.id %}
                {{ perf }}<br>
            {%  endfor  %}
            </p>
            <p>
            Sponsors:
            {%  for sponsorship in sponsorships|event_filter:event.id %}
                    {{ sponsorship.sponsor.name }}
            {%  endfor  %}
            </p>
            <p>
                {{ event.location }} <br>
                from {{event.start_date}} to {{event.end_date}}
            </p>
          </div>
        </article>
{% endblock content %}





