{% extends "confs/base.html" %}
{% load confs_tags %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ event.organizer.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ event.organizer }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.name }}</a></h2>
            <p class="article-content">{{ event.content }}</p>
              <p>
            {%  for perf in performances|event_filter:event.id %}
                {{ perf }}<br>
            {%  endfor  %}
            </p>
            <p>
            Sponsors:
            {%  for sponsorship in sponsorships|event_filter:event.id %}
                    {{ sponsorship.sponsor.name }}
            {%  endfor  %}
            </p>
            <p>
                {{ event.location }} <br>
                from {{event.start_date}} to {{event.end_date}}
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}