{% extends "confs/base.html" %}
{% load confs_tags %}
{% block content %}
    {% for ticket in tickets %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ ticket.event.organizer.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ ticket.event.organizer }}</a>
            </div>
            <h2><a class="article-title" href="{% url 'event-detail' ticket.event.id %}">{{ ticket.event.name }}</a></h2>
            <p class="article-content">{{ ticket.event.content }}</p>
              <p>
            {%  for perf in performances|event_filter:ticket.event.id %}
                {{ perf }}<br>
            {%  endfor  %}
            </p>
            <p>
            Sponsors:
            {%  for sponsorship in sponsorships|event_filter:ticket.event.id %}
                    {{ sponsorship.sponsor.name }}
            {%  endfor  %}
            </p>
            <p>
                {{ ticket.event.location }} <br>
                from {{ticket.event.start_date}} to {{ticket.event.end_date}}
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}