{% extends "confs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content=section">
          <form method="POST" >
              {% csrf_token %}
              <fieldset class="form-grup">
                  <legend class="border-bottom mb-4">Add New Sponsor</legend>
                  {{ form|crispy }}
              </fieldset>
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <div class="form group">
                  <button class="btn btn-outline-info" type="submit">
                      Post
                  </button>
              </div>
          </form>

      </div>
{% endblock %}