{% extends "confs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content=section">
          <form method="POST" >
              {% csrf_token %}
              <fieldset class="form-grup">
                  <legend class="border-bottom mb-4">Sign Up to Conference?</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form group">
                  <button class="btn btn-outline-info" type="submit">
                      Yes
                  </button>
              </div>
          </form>
      </div>
{% endblock %}