{% extends "confs/base.html" %}
{% load confs_tags %}
{% block content %}
    {% for participant in participants %}
        <article class="media content-section">
          <div class="media-body">
            {{ participant.user.profile }}. Active: {{ participant.active }}
          </div>
        </article>
    {% endfor %}
{% endblock content %}