{% extends "confs/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cancel Ticket</legend>
                <h2>Are you sure you want to cancel ticket "{{ object }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Cancel</button>
                <a class="btn btn-outline-secondary" href="{% url 'event-detail' object.id %}">No</a>
            </div>
        </form>
    </div>
{% endblock content %}