{% extends "confs/base.html" %}
{% load confs_tags %}
{% block content %}
    {% for perf in performances %}
        <article class="media content-section">
          <div class="media-body">
              <h2>{{ perf.event.name }}</h2>
              {{ perf.orator }} - {{ perf.theme}}
          </div>
        </article>
    {% endfor %}
{% endblock content %}