{% extends "confs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content=section">
          <form method="POST" >
              {% csrf_token %}
              <fieldset class="form-grup">
                  <legend class="border-bottom mb-4">Add Sponsor</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form group">
                  <button class="btn btn-outline-info" type="submit">
                      Post
                  </button>
              </div>
          </form>
          <button class="btn btn-outline-info">
              <a href=" {% url  'new-sponsor'  %}?next={{ request.path|urlencode }} " >New Sponsor</a>
          </button>
      </div>
{% endblock %}

